.summary {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-top: 20px;
  margin-left: 10px;
}

.summary-table {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding: 1px;
  text-align: left;
  font-size: 12px;
}

.summary-table thead th {
  background-color: #b0c4de;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 15px;
}

.summary-table tbody tr:first-child {
  text-align: center;
}

.photo {
  width: 100%;
}

.center {
  text-align: center;
}